<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterCLR.SgmlReader" version="2014.12.7.3" targetFramework="net451" requireReinstallation="True" />
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40-Client" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40-Client" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40-Client" />
  <package id="p3-sharpcompress" version="0.10.5.2" targetFramework="net40-Client" />
</packages>